.gallery {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    background-color: #dddbdb;
  }
  
  .info {
    display: flex;
    justify-content: space-around;
    align-content: center;
  }
  
  .info-item {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .search-form {
    text-align: center;
    background-color: #dddbdb;
    padding-bottom: 25px;
    padding-top: 25px;
  }
  
  .load-more {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border: 3px solid #1e1e1e;
    border-radius: 50px;
  }
  
  .is-hidden {
    display: none;
  }